In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("5280_dataset.csv")

In [3]:
df.head()

,Date,Study Hours,Sleep,Screen Time,Physical Activity,Performance,Gender,Year,Major,Study Time,Living,Diet,Extracurricular
0,7/13/2020,6 hr,6 hr,8 hr,30 min,GPA 3.6 to 4.0 or 85% to 100%,Female,Third Year,NaN,Night,With Family,Non Vegetarian,No
1,7/13/2019,1hr,7 hr,NaN,60 min,GPA 3.1 to 3.5 or 75% to 84%,Male,NaN,Arts,Night,Hostel,Vegetarian,Yes
2,7/13/2020,2 hr,6 hr,4 hr,30 min,NaN,Male,First Year,Science,Afternoon,With Family,NaN,Yes
3,7/13/2015,2 hr,9 hr,4 hr,NaN,GPA 3.1 to 3.5 or 75% to 84%,NaN,Second Year,Science,NaN,Hostel,Vegetarian,NaN
4,7/13/2020,8 hr,6 hr,8 hr,90 min,GPA 2.1 to 3.0 or 65% to 74%,Female,Third Year,Commerce,Night,NaN,Vegetarian,Occasionally

In [5]:
df.tail()

,Date,Study Hours,Sleep,Screen Time,Physical Activity,Performance,Gender,Year,Major,Study Time,Living,Diet,Extracurricular
95,8/19/2020,8 hr,NaN,8 hr,120 min,GPA 2.1 to 3.0 or 65% to 74%,Male,Second Year,Commerce,NaN,Rented Flat,Vegan,Yes
96,8/19/2020,1hr,9 hr,NaN,30 min,GPA 3.1 to 3.5 or 75% to 84%,Female,Third Year,Other,Morning,Hostel,NaN,Yes
97,8/19/2020,2 hr,9 hr,6 hr,NaN,GPA 3.1 to 3.5 or 75% to 84%,Female,Fourth Year,Other,Morning,NaN,Other,Yes
98,8/19/2020,6 hr,8 hr,8 hr,30 min,GPA 3.1 to 3.5 or 75% to 84%,Female,NaN,Science,Afternoon,Rented Flat,Vegetarian,No
99,8/19/2020,2 hr,4 hr,4 hr,60 min,GPA 2.1 to 3.0 or 65% to 74%,Male,Third Year,NaN,Afternoon,With Family,Vegan,Occasionally

In [7]:
df.shape[0]

100

In [9]:
df.columns

Index(['Date', 'Study Hours', 'Sleep', 'Screen Time', 'Physical Activity',
       'Performance', 'Gender', 'Year', 'Major', 'Study Time', 'Living',
       'Diet', 'Extracurricular'],
      dtype='object')

In [11]:
df.isnull().sum()

Date                  0
Study Hours           9
Sleep                 9
Screen Time          12
Physical Activity    12
Performance           9
Gender                9
Year                  8
Major                 8
Study Time            8
Living                9
Diet                  8
Extracurricular       7
dtype: int64

In [13]:
df.dtypes

Date                 object
Study Hours          object
Sleep                object
Screen Time          object
Physical Activity    object
Performance          object
Gender               object
Year                 object
Major                object
Study Time           object
Living               object
Diet                 object
Extracurricular      object
dtype: object

In [15]:
df['Gender'].value_counts()

Gender
Male      51
Female    40
Name: count, dtype: int64

In [17]:
df['Year'].unique()

array(['Third Year', nan, 'First Year', 'Second Year', 'Fourth Year'],
      dtype=object)

In [19]:
df['Major'].unique()

array([nan, 'Arts', 'Science', 'Commerce', 'Engineering', 'Other'],
      dtype=object)

In [30]:
def extract_numeric(value):
    if pd.isna(value):
        return np.nan
    return float(''.join(c for c in str(value) if c.isdigit()))
df['Study Hours'] = df['Study Hours'].apply(extract_numeric)
df['Sleep'] = df['Sleep'].apply(extract_numeric)
df['Screen Time'] = df['Screen Time'].apply(extract_numeric)
df['Physical Activity'] = df['Physical Activity'].apply(extract_numeric)

df[['Study Hours','Sleep','Screen Time','Physical Activity']].head()

   Study Hours   Sleep   Screen Time  Physical Activity
0       6000.0  6000.0  8.000000e+03       3.000000e+04
1       1000.0  7000.0  5.590909e+15       6.000000e+04
2       2000.0  6000.0  4.000000e+03       3.000000e+04
3       2000.0  9000.0  4.000000e+03       6.340909e+15
4       8000.0  6000.0  8.000000e+03       9.000000e+04

In [40]:
df = df.fillna(df.mean(numeric_only=True))
for col in df.select_dtypes(include='object'):
    df[col] = df[col].fillna(df[col].mode()[0])
df.fillna(...)
df.head()

,Date,Study Hours,Sleep,Screen Time,Physical Activity,Performance,Gender,Year,Major,Study Time,Living,Diet,Extracurricular
0,7/13/2020,6000.0,6000.0,8.000000e+03,3.000000e+04,GPA 3.6 to 4.0 or 85% to 100%,Female,Third Year,Engineering,Night,with family,non vegetarian,no
1,7/13/2019,1000.0,7000.0,5.590909e+15,6.000000e+04,GPA 3.1 to 3.5 or 75% to 84%,Male,Third Year,Arts,Night,hostel,vegetarian,yes
2,7/13/2020,2000.0,6000.0,4.000000e+03,3.000000e+04,GPA 2.1 to 3.0 or 65% to 74%,Male,First Year,Science,Afternoon,with family,non vegetarian,yes
3,7/13/2015,2000.0,9000.0,4.000000e+03,6.340909e+15,GPA 3.1 to 3.5 or 75% to 84%,Male,Second Year,Science,Afternoon,hostel,vegetarian,yes
4,7/13/2020,8000.0,6000.0,8.000000e+03,9.000000e+04,GPA 2.1 to 3.0 or 65% to 74%,Female,Third Year,Commerce,Night,with family,vegetarian,occasionally

In [42]:
# Standardize categorical columns
df['Diet'] = df['Diet'].str.lower().str.strip()
df['Living'] = df['Living'].str.lower().str.strip()
df['Extracurricular'] = df['Extracurricular'].str.lower().str.strip()
# SHOW OUTPUT
df[['Diet', 'Living', 'Extracurricular']].head()

             Diet       Living Extracurricular
0  non vegetarian  with family              no
1      vegetarian       hostel             yes
2  non vegetarian  with family             yes
3      vegetarian       hostel             yes
4      vegetarian  with family    occasionally

In [48]:
df['Performance'] = pd.to_numeric(df['Performance'], errors='coerce')
df['Performance'] = df['Performance'].fillna(df['Performance'].mean())
def performance_category(score):
    if score >= 8:
        return "High"
    elif score >= 5:
        return "Medium"
    else:
        return "Low"
df['Performance Category'] = df['Performance'].apply(performance_category)
df[['Performance', 'Performance Category']].head()

   Performance Performance Category
0          NaN                  Low
1          NaN                  Low
2          NaN                  Low
3          NaN                  Low
4          NaN                  Low

In [52]:
df['Date'] = pd.to_datetime(
    df['Date'],
    errors='coerce',     
    format='mixed'       
)
df['Date'] = df['Date'].fillna(df['Date'].mode()[0])
df.dtypes
df['Date'].head()

0   2020-07-13
1   2019-07-13
2   2020-07-13
3   2015-07-13
4   2020-07-13
Name: Date, dtype: datetime64[ns]

In [54]:
df['Study Hours'].mean()

335274725278115.25

In [56]:
df['Sleep'].mean()

614175824182034.1

In [58]:
df['Screen Time'].mean()

670909090914010.9

In [60]:
df['Physical Activity'].mean()

760909090964890.9

In [62]:
df['Diet'].mode()[0]

'non vegetarian'

In [64]:
df['Living'].mode()[0]

'with family'

In [66]:
df['Study Time'].mode()[0]

'Afternoon'

In [68]:
(df['Extracurricular'].value_counts(normalize=True) * 100)

Extracurricular
yes             65.0
no              18.0
occasionally    17.0
Name: proportion, dtype: float64

In [70]:
df['Performance Category'].mode()[0]

'Low'

In [72]:
df['Year'].value_counts()

Year
Third Year     44
Second Year    35
First Year     11
Fourth Year    10
Name: count, dtype: int64

In [74]:
df.groupby('Performance Category')['Study Hours'].mean()

Performance Category
Low    3.352747e+14
Name: Study Hours, dtype: float64

In [76]:
df.groupby('Performance Category')['Sleep'].mean()

Performance Category
Low    6.141758e+14
Name: Sleep, dtype: float64

In [125]:
df.groupby('Performance')['Screen Time'].mean()

Series([], Name: Screen Time, dtype: float64)

In [78]:
df.groupby('Performance Category')['Physical Activity'].mean()

Performance Category
Low    7.609091e+14
Name: Physical Activity, dtype: float64

In [80]:
df.groupby('Gender')['Performance'].mean()

Gender
Female   NaN
Male     NaN
Name: Performance, dtype: float64

In [82]:
df.groupby('Diet')['Performance'].mean()

Diet
non vegetarian   NaN
other            NaN
vegan            NaN
vegetarian       NaN
Name: Performance, dtype: float64

In [84]:
df.groupby('Living')['Performance'].mean()

Living
hostel        NaN
other         NaN
rented flat   NaN
with family   NaN
Name: Performance, dtype: float64

In [86]:
df.groupby('Study Time')['Performance'].mean()

Study Time
Afternoon   NaN
Evening     NaN
Morning     NaN
Night       NaN
Name: Performance, dtype: float64

In [88]:
df.groupby('Extracurricular')['Performance'].mean()

Extracurricular
no             NaN
occasionally   NaN
yes            NaN
Name: Performance, dtype: float64

In [90]:
df[df['Performance Category']=='High'].describe()

      Date  Study Hours  Sleep  Screen Time  Physical Activity  Performance
count    0          0.0    0.0          0.0                0.0          0.0
mean   NaT          NaN    NaN          NaN                NaN          NaN
min    NaT          NaN    NaN          NaN                NaN          NaN
25%    NaT          NaN    NaN          NaN                NaN          NaN
50%    NaT          NaN    NaN          NaN                NaN          NaN
75%    NaT          NaN    NaN          NaN                NaN          NaN
max    NaT          NaN    NaN          NaN                NaN          NaN
std    NaN          NaN    NaN          NaN                NaN          NaN

In [92]:
df.groupby('Year')['Study Hours'].mean()

Year
First Year     4.090909e+03
Fourth Year    1.117582e+15
Second Year    2.128728e+14
Third Year     3.386613e+14
Name: Study Hours, dtype: float64

In [94]:
df.groupby('Major')['Screen Time'].mean()

Major
Arts           2.430830e+14
Commerce       4.659091e+14
Engineering    1.016529e+15
Other          1.118182e+15
Science        7.454545e+14
Name: Screen Time, dtype: float64

In [96]:
df.groupby('Gender')['Sleep'].mean()

Gender
Female    1.706044e+14
Male      9.098901e+14
Name: Sleep, dtype: float64

In [98]:
df.groupby('Performance Category')['Physical Activity'].mean()

Performance Category
Low    7.609091e+14
Name: Physical Activity, dtype: float64

In [100]:
pd.crosstab(df['Major'], df['Performance Category'])

Performance Category  Low
Major
Arts                   23
Commerce               24
Engineering            33
Other                   5
Science                15

In [107]:
# Create Total Lifestyle Load column
df['Total Lifestyle Load'] = df['Study Hours'] + df['Screen Time']
# SHOW OUTPUT
df[['Study Hours', 'Screen Time', 'Total Lifestyle Load']].head()

   Study Hours   Screen Time  Total Lifestyle Load
0       6000.0  8.000000e+03          1.400000e+04
1       1000.0  5.590909e+15          5.590909e+15
2       2000.0  4.000000e+03          6.000000e+03
3       2000.0  4.000000e+03          6.000000e+03
4       8000.0  8.000000e+03          1.600000e+04

In [117]:
# Create Healthy Lifestyle column
df['Healthy Lifestyle'] = np.where(
    (df['Sleep'] >= 7) & (df['Physical Activity'] >= 60),
    'Healthy', 'Unhealthy'
)
# SHOW OUTPUT
df[['Sleep', 'Physical Activity', 'Healthy Lifestyle']].head()

    Sleep  Physical Activity Healthy Lifestyle
0  6000.0       3.000000e+04           Healthy
1  7000.0       6.000000e+04           Healthy
2  6000.0       3.000000e+04           Healthy
3  9000.0       6.340909e+15           Healthy
4  6000.0       9.000000e+04           Healthy

In [119]:
# Create Screen Category column
df['Screen Category'] = pd.cut(
    df['Screen Time'],
    bins=[0, 3, 6, 24],
    labels=['Low', 'Medium', 'High']
)
# SHOW OUTPUT
df[['Screen Time', 'Screen Category']].head()

    Screen Time Screen Category
0  8.000000e+03             NaN
1  5.590909e+15             NaN
2  4.000000e+03             NaN
3  4.000000e+03             NaN
4  8.000000e+03             NaN

In [121]:
# Create Sleep Quality column
df['Sleep Quality'] = pd.cut(
    df['Sleep'],
    bins=[0, 5, 7, 24],
    labels=['Poor', 'Average', 'Good']
)

# SHOW OUTPUT
df[['Sleep', 'Sleep Quality']].head()

    Sleep Sleep Quality
0  6000.0           NaN
1  7000.0           NaN
2  6000.0           NaN
3  9000.0           NaN
4  6000.0           NaN

In [115]:
df['Academic Risk'] = np.where(
    df['Performance Category']=='Low',
    'At Risk','Safe'
)

df[['Total Lifestyle Load','Healthy Lifestyle','Screen Category','Sleep Quality','Academic Risk']].head()

,Total Lifestyle Load,Healthy Lifestyle,Screen Category,Sleep Quality,Academic Risk
0,1.400000e+04,Healthy,NaN,NaN,At Risk
1,5.590909e+15,Healthy,NaN,NaN,At Risk
2,6.000000e+03,Healthy,NaN,NaN,At Risk
3,6.000000e+03,Healthy,NaN,NaN,At Risk
4,1.600000e+04,Healthy,NaN,NaN,At Risk